body,html{
    font-family: 'Montserrat';
    background-image: linear-gradient(180deg, #002a45 0%, #04090F 100%);
    color: #fff;
}

/* HEADER */
.header{
	/* position: fixed;
	top: 0;
	left: 0; */
    background-color: #01082c;
	width: 100vw;
	z-index: 2;
    color: #fff;
}

.header-wrapper{
    padding: 2px 5vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header-logo{
    width: 60px;
    height: auto;
}

.header-nav-item {
    font-weight: 600;
    font-size: 15px;
    padding: 0 10px;
    font-family: 'Montserrat';
    min-width: 180px;
    letter-spacing: 2px;
    font-weight: 600;
}

.header-nav-item.active,
.header-nav-item:hover{
    cursor: pointer;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, #825FF5 0%, #3B33A2 48%, #43D3D8 100%);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.intro{
    height: calc(100vh - 60px);
    overflow: hidden;
    background-color: #081E39;
    /* background: no-repeat url(../images/bg-intro.jpg) center center; */
    background-size: cover;
    position: relative;
}

.intro-content{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.intro .desc{
    padding-right: 70px;
    line-height: 26px;
    color: #ffff;
    font-weight: 700;
}

#sef{
    padding: 40px 0;
}

.sef-img{
    height: 400px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sef-title{
    padding: 10px 0;
}

.sef-content{
    color: #dddddd;
}

.sef-block{
    padding: 0 20px;
}

#token{
    padding: 90px 0;
    /* background: url(https://img.freepik.com/free-photo/lovely-blue-paint-water_23-2147798302.jpg?w=1480&t=st=1680833478~exp=1680834078~hmac=b134d7f79f3180eee7294824dee73ec1d039bd4ba1ec71028e967977f4118cf1); */
    background-color: #cdebf6;
}

.partner{
    padding-bottom: 60px;
}

.partner-wrapper{
    padding: 20px;
    padding-bottom: 0;
    border-radius: 20px;
    background-color: #6fa8dc00;
}

.partner-wrapper img{
    margin-bottom: 30px;
}

.roadmap-block--5{
    padding-left: 40px;
}

.roadmap-block--1{
    padding-top: 120px;
}

.roadmap-block--2{
    padding-top: 110px;
}

.roadmap-block--3{
    padding-top: 80px;
}

.intro-button{
    clip-path: polygon(51% 9%, 100% 50%, 51% 88%, 0% 50%);
    padding: 30px;
    background: linear-gradient(360deg, #1777BC 0%, #76C5F1 100%);
    color: #fff;
    font-weight: 600;
    text-align: center;
    min-width: 160px;

    display: flex; 
    align-items: center;
    justify-content: center;

    border: 1px solid red;
    transition: all 0.5s ease;
}

@-webkit-keyframes floater-2 {0% {transform: translate3d(0px, 

0px, 0px);}80% {transform: translate3d(0px, -10px, 0px);}100% 

{transform: translate3d(0px, 0px, 0px);}}
@keyframes floater-2 {0% {transform: translate3d(0px, 0px, 

0px);}50% {transform: translate3d(0px, -10px, 0px);}100% 

{transform: translate3d(0px, 0px, 0px);}}

.intro-logo{
    animation: floater-2 infinite 4s ease-in-out;
    animation-fill-mode: forwards;
}

.intro-button:hover{
    cursor: pointer;
    transform: scale(0.95);
}

.intro-social-wrapper{
    margin-top: 20px;
}

.intro-social{
    height: 30px;
    width: 30px;
    /* color: #01082C; */
    border-radius: 50%;
    transition: all 0.5s ease;
    background: linear-gradient(360deg, #1777BC 0%, #76C5F1 100%);
}

.intro-social:hover{
    cursor: pointer;
    transform: rotate(360deg);
}

.intro-social+.intro-social{
    margin-left: 10px;
}

.graph2 {
    height: 613px;
    width: 100%;
    background: url(../images/wave.png) repeat-x center center;
    background-size: contain;
    animation: graph 130s linear infinite;
    -webkit-animation: graph 100s linear infinite;
    mix-blend-mode: luminosity;
}

@keyframes graph { 

	from {background-position:-2765px 100%,0 0}
	to {background-position:0 100%,0 0}
}

@-webkit-keyframes graph {
	 
	from {background-position:-2765px 100%,0 0}
	to {background-position:0 100%,0 0}
} 

.mine-block .gradient-text{
    font-size: 20px;
    text-align: center;
}

.mine-block--2{
    margin-top: 90%;
}

.mine-block--4{
    margin-top: 70%;
}

.mine-content{
    margin-top: 30px;
}